*{
    margin: 0;
    font-family: 'Poppins';
    letter-spacing: 0.01em;
    text-decoration: none;
}

a{
    color: #0C1123;
}

main{
    width: 100%;
    display: flex;
}


/*-------------------- STYLE DO TEXTO ---------------------*/
h1{
    font-weight: 600;
    font-size: 1.25em;
    margin-bottom: 8%;
}

h2{
    font-weight: 300;
    font-size: 1em;
}

h3{
    font-weight: 300;
    font-size: 0.75em;
    color: rgba(12, 17, 35, 0.5);
    line-height: 10px;
}


/*----------------------------- MENU -------------------------------*/
#menu{
    position: fixed;
}

.select-page{ /*listas do menu*/
    width:20vw;
    padding:1%;
    height:100vh;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
    background-color: #FFFFFF;
    overflow: scroll;
}

.select-page img{
    margin:10% 5%;
}

.select-page ul{
    padding: 0 0 5% 10%;
}

.select-page li{
    cursor: pointer;
    padding:1% 2%;
    list-style: none;
    font-size: 14px;
}

.select-page a{
    text-decoration: none;
}

.select-page a:hover{
    color:#0048EA;
}


/*----------------------------- FILE -------------------------------*/
#file{
    width: 80%;
    background: #FFFFFF;
    display: block;
    margin-left: 20%;
}


/*------------------- BARRA DE CIMA --------------------*/
#nav_bar{
    width: 92%;
    margin: 10.5% auto 3% 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left h2{
    display: inline;
}


#upload{
    width: 92%;
    display: block;
    margin: 0 auto;
    
}

.profile{  /*------------------- CAIXA 1 --------------------*/
    display:flex;
    justify-content: left;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
    padding: 1%;
    margin-bottom: 1vh;
    align-items: center;
}

.foto{
    border-radius: 50%/50%; 
    width:42px;
    height:42px;
    overflow:hidden;
    margin-right: 1%;
}

.foto img{
    position: relative;
    width: 100%;
    height:100%;
    object-fit: cover;
}

.author{
    font-size: 12px;
}

.author:hover{
    color: #0048EA;
}

/*------------------- DEPARTEMENT COLORS --------------------*/

/* ICON DO QUADRADO */
#outsider svg path:first-child{
    fill: #000000;
}

#pm svg path:first-child{
    fill: #FF03E6;
}

#arch svg path:first-child{
    fill: #FFC700;
}

#qa svg path:first-child{
    fill: #FF7C02;
}

#tes svg path:first-child{
    fill: #49C77B;
}

#req svg path:first-child{
    fill: #FF1203;
}

#des svg path:first-child{
    fill: #AD00FF;
}

#dev svg path:first-child{
    fill: #00A4EA;
}


/* FOTOS DE PERFIL */
.pm{
    border: #FF03E6 2px solid;
}

.arch{
    border: #FFC700 2px solid;
}

.qa{
    border: #FF7C02 2px solid;
}

.tes{
    border: #49C77B 2px solid;
}

.req{
    border: #FF1203 2px solid;
}

.des{
    border: #AD00FF 2px solid;
}

.dev{
    border: #00A4EA 2px solid;
}


.file-container{ /*------------------- CAIXA 2 --------------------*/
    height: fit-content;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
    display: block;
    padding: 1%;
}

.name{
    display:flex;
    justify-content: left;
    align-items: center;
}

.content{
    height: fit-content;
}

.square{
    margin-right: 1%;
}

/*------------------- ACTIVE ISSUES --------------------*/

#active-issues{
    width: 92%;
    margin: 0 auto;
    display: block;
}

.issues-top-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3% 0 2% 0;
}

.left{
    font-weight: 500;
    font-size: 16px;
}

.right{
    padding:0.5vw;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
    font-weight: normal;
    font-size: 16px; 
    cursor: pointer;   
}

.right:hover{
    background: #0048EA;
    box-shadow: none;
    color: #FFFFFF;
}


.issue-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 auto;
    gap: 1em;
    height: auto;
}

.issue{
    background: #FFFFFF;
    box-shadow: 0px 0px 2px 1px rgba(12, 17, 35, 0.25);
    border-radius: 3px;
    padding: 8%;
}

.issue .foto{
    margin-bottom: 3%;
}

.info:first-child{
    margin-bottom: 4%;
}

.issue:hover{
    box-shadow: 0px 0px 2px 2px rgba(0, 72, 234, 0.40);
}




/*------------------- BOTÃO BACK --------------------*/
#back_button{
    width: 50px;
    margin: 3% 4% 4% 4%;
    background: #FFFFFF;
    box-shadow: 0px 0px 2px 1px rgba(12, 17, 35, 0.30);
    border-radius: 3px;
    vertical-align: middle;
    text-align: center;
    padding: 0.5vw;
}

#back_button:hover{
    background: #0048EA;
    box-shadow: none;
    color: #FFFFFF;
}

p{
    font-weight: 400;
    font-size: 16px;
}


/*------------------- RESPONSIVIDADE --------------------*/
@media (min-width: 1400px) {
    .issue-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    }
}


@media (max-width: 1160px) {
    .issue-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 830px) {
    .issue-grid{
        grid-template-columns: 1fr 1fr;
    }
}
