{% extends "app/base.html" %}

{% block title %}Repository - GitNub{% endblock %}

{% block app %}
<h1>{{ text }}</h1>

<ul>
    {% for sentence in data %}
        <li><a href="{% url 'app:repository' sentence.url %}" style="text-decoration:none">{{ sentence.name }}</a></li>
    {% endfor %}
</ul>
{% endblock %}
