{% extends "app/base.html" %}

{% block title %}Branch{% endblock %}

{% block app %}
<h1>{{ text }}</h1>

<ul>
    {% for branch in branches %}
        <li>{{ branch.title }} - {{ branch.lupdater }} - {{ branch.ldate | date }}</li>
    {% endfor %}
</ul>
{% endblock %}
