{% extends "app/base.html" %}

{% block title %}Example - GitNub{% endblock %}

{% block app %}
<h1>{{ text }}</h1>

<ul>
    {% for sentence in data %}
        <li>{{ sentence }}</li>
    {% endfor %}
</ul>
{% endblock %}
