{% extends "app/base.html" %}

{% block title %}Modifications List - GitNub{% endblock %}

{% block app %}
<h1>{{ text }}</h1>

<ul>
    {% for commit in data %}
        <li>{{ commit.file }} {{ commit.type }} by {{ commit.author }} on {{ commit.date | date }} ({{ commit.add }} lines added, {{ commit.del }} lines deleted) </li>
        {% comment %} <li>{{ commit }}</li> {% endcomment %}
        {% endfor %}
</ul>
{% endblock %}
