*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #0C1123;
}

/* --------------- Barra Lateral ---------------*/

nav{
    position: fixed;
}

nav a {
    text-decoration: none;
}

.nav-bar{
    width:20vw;
    height:100vh;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
    background-color: #FFFFFF;
    overflow-y: scroll;
}


.nav-bar img{
    width:200px;
    margin:10% 5%;
}

.nav-bar ul{
    padding: 0 0 5% 10%;
}

.nav-bar li{
    cursor: pointer;
    padding:1% 2%;
    list-style: none;
    font-size: 14px;
}

.nav-bar li a:hover{
    color:#0048EA;
    text-decoration: solid;
}

.main-selection{
    font-weight: 700;
    font-size: 18px;
}

.main-selection:hover{
    color:#0C1123;
    cursor:default;
}

.hidden-selection{
    display:block; 
    /* display:none; --> serve para esconder o que está dentro de cada seleção */
}