* {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

div#app { 
    margin: 15px;
}

.fill {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.sidebar {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    min-width: 150px;
    max-width: 150px;
}

div.sidebar > nav {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-top: 10px;
    align-content: space-around;
}
div.sidebar a {
    flex: 0;
    margin: 5px;
}

#app {
    flex: 1;
}