@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    letter-spacing: 0.01em;
    text-decoration: none;
}

#files{
    width: 80%;
    background: #FFFFFF;
    display: block;
    margin-left: 20%;
}

#select-file{
    width: 92%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between ;
    flex-wrap: wrap;
}



#readMe{
    width: 92%;
    margin: 0 auto ;
    background: #FFFFFF;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.25);
    margin-bottom: 3.5%;
    
}

#readMe h1{
    font-weight: bold;
    font-size: 23px;
    padding: 0 2% 0 2%;
    margin-bottom: 0;
} 

#readMe h2{
    font-weight: normal;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.75);
    padding: 2% 2% 1% 2%;
    margin-bottom: 0;
} 

#readMe p{
    font-weight: 300;
    font-size: 12px;
    padding: 0 2% 1% 2%;
    margin-bottom: 0;
} 

.line{   
    border: 0.5px solid rgba(0, 0, 0, 0.75);
    margin: 0 2% 2% 2%;
}