*{
    margin:0;
    font-family:'Poppins';
    letter-spacing: 0.1em;
    text-align: center;
    color: #FFFFFF;
    font-size: 15px;
    overflow: hidden;
}

body{
    background-color: rgba(12, 17, 35);
}

.logo{
    position: fixed;
    top:0;
    padding-top: 3%;
}

.enter{
    position: fixed;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    left: 0;
    top: 0;
    padding-top: 18%;

}

h1{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 2%;
}

form{
    margin: auto; 
    width: 30%;
}

form input{
    width: 100%;
    border: none;
    background-color: white;
    border-radius: 6px;
    padding: 3% 0;
    margin-bottom: 3%;
    cursor: pointer;
    color: rgba(12, 17, 35);
}

.submit{
    background-color: #0048EA;
    color: white;
    font-weight: 600;
}

.submit:hover{
    background-color: white;  
    color:#0048EA;
}


