*{
    margin: 0;
    font-family: 'Poppins';
    color: #0C1123;
}

/* --------------- Barra Lateral ---------------*/

nav{
    position: fixed;
}

.nav-bar{
    width:20vw;
    padding:1%;
    height:100vh;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
    background-color: #FFFFFF;
    overflow-y: scroll;
}

.nav-bar img{
    width:18vw;
    margin:10% 5%;
}

.nav-bar ul{
    padding: 0 0 5% 10%;
}

.nav-bar li{
    cursor: pointer;
    padding:1% 2%;
    list-style: none;
    font-size: 14px;
}

.nav-bar a{
    text-decoration: none;
}

.nav-bar a:hover{
    color:#0048EA;
}

.main-selection{
    font-weight: 700;
    font-size: 18px;
}

.main-selection:hover{
    color:#0C1123;
    cursor:default;
}

.hidden-selection{
    display:block; 
    /* display:none; --> serve para esconder o que está dentro de cada seleção */
}

/* --------------- Project Information - Members ---------------*/

main{
    margin-left: 24vw;
}

.top-info{
    width:96%;
    display: flex;
    justify-content:space-between ;
    position: relative;
    padding:4% 0 2% 0;
}

/* Page view */

.view{
    display:flex;
    width:70%;
    align-items: center;
    flex-wrap: wrap;
}

.view a{
    margin-right:1%;
    text-decoration: none;
    color: rgba(12, 17, 35, 0.75);
    font-weight: 300;
    font-size:16px;
}

.view a:last-child{
    color: rgb(12, 17, 35);
    font-weight: 500;
}

/* Top Buttons */

.buttons{
    width:30%;
    display:flex;
    justify-content: right;
}

.button{
    margin-left:2%;
    padding:2%;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
    font-size: 14px;
}

.button:hover{
    box-shadow: 0px 0px 4px 1px rgba(0, 72, 234, 0.5);
    cursor: pointer;
}

.button a{
    text-decoration: none;
}


/* ------------------- Member Card ------------------- */

.member-card{
    padding: 2%;
    width:92%;
    height:fit-content;
    border-radius: 2px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
}

/* Título do Cartão + Quadrado GitNub */

.title{
    display: flex;
}


.title .square{
    width:40px;
    height:40px;
}

.title .circle{
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    border-radius: 50%/50%; 
    width:10px;
    height:10px;
    background-color:#FFFFFF;
}

/* Nome + Departamento */

.title h4{
    width:100%;
    padding: 1%;
    position: relative;
    
}

.title span{
    font-weight: 400;
    color: #0048EA;
    margin-left:2%;
}

/* -------------- contribuições -------------- */

/* Tópicos */

.topics{
    display: flex;
}

.topics .description{
    width:40%;
}

.topics p {
    font-size:12px;
    text-align: center;
    padding-top:1%;
    width:20%;
    right:0
}

.contribution{
    display: flex;
    margin-top:1%;
    padding: 1%;
    width:98%;
    height:fit-content;
    border-radius: 2px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
}

.contribution .square{
    width:30px;
    height:30px;
}

.contribution .circle{
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    border-radius: 50%/50%; 
    width:8px;
    height:8px;
    background-color:#FFFFFF;
}

.description{
    margin-left:2%;
    width:40%;
}

.time, .date, .category{
    text-align: center;
    width:20%;
}

.contribution p{
    font-size:12px;
    font-weight: 300;
}

.contribution b{
    font-weight: 500;
}


/* Select Pages - Botões */

.select-pages{
    display:flex;
    margin-top:5%;
}

.go-to{
    margin-left:1%;
    padding: 1% 1.5%;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
    font-size: 14px;
}

.go-to:hover{
    box-shadow: 0px 0px 4px 1px rgba(0, 72, 234, 0.5);
    cursor: pointer;
}

.go-to a{
    text-decoration: none;
}

/* "Department" Colors */

.pm .square{
    background-color: #FF03E6;
}

.arch .square{
    background-color: #FFC700;
}

.qa .square{
    background-color: #FF7C02;
}

.tes .square{
    background-color: #49C77B;
}

.req .square{
    background-color: #FF1203;
}

.des .square{
    background-color: #AD00FF;
}

.dev .square{
    background-color: #00A4EA;
}


/*------------------- RESPONSIVIDADE --------------------*/

@media (max-width: 845px) {
    .top-info{
        display: block;  
    }

    .view, .buttons{
        width:100%;
    }

    .buttons{
        margin:5% 0;
        justify-content: left;
    }

    .button{
        margin-left:0%;
        margin-right:2%;
    }

    h5{
        margin:3% 0;
    }
}