*{
    margin: 0;
    font-family: 'Poppins';
    color: #0C1123;
}

/* --------------- Barra Lateral ---------------*/

nav{
    position: fixed;
}

.nav-bar{
    width:20vw;
    padding:1%;
    height:100vh;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
    background-color: #FFFFFF;
    overflow-y: scroll;
}

.nav-bar img{
    width:18vw;
    margin:10% 5%;
}

.nav-bar ul{
    padding: 0 0 5% 10%;
}

.nav-bar li{
    cursor: pointer;
    padding:1% 2%;
    list-style: none;
    font-size: 14px;
}

.nav-bar a{
    text-decoration: none;
}

.nav-bar a:hover{
    color:#0048EA;
}

.main-selection{
    font-weight: 700;
    font-size: 18px;
}

.main-selection:hover{
    color:#0C1123;
    cursor:default;
}

.hidden-selection{
    display:block; 
    /* display:none; --> serve para esconder o que está dentro de cada seleção */
}

/* --------------- Project Information - Members ---------------*/

main{
    margin-left: 24vw;
}

.top-info{
    width:96%;
    display: flex;
    justify-content:space-between ;
    position: relative;
    padding:4% 0 2% 0;
}

/* Page view */

.view{
    display:flex;
    width:70%;
    align-items: center;
    flex-wrap: wrap;
}

.view a{
    margin-right:1%;
    text-decoration: none;
    color: rgba(12, 17, 35, 0.75);
    font-weight: 300;
    font-size:16px;
}

.view a:last-child{
    color: rgb(12, 17, 35);
    font-weight: 500;
}

/* Top Buttons */

.buttons{
    width:30%;
    display:flex;
    justify-content: right;
}

.button{
    margin-left:2%;
    padding:2%;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
    font-size: 14px;
}

.button:hover{
    box-shadow: 0px 0px 4px 1px rgba(0, 72, 234, 0.5);
    cursor: pointer;
}

.button a{
    text-decoration: none;
}


/* Members List */

.members-list{
    width: 96%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2em;
    height: auto;
    margin-bottom:5%;
}

.select-box{
    text-decoration: none;
}

.member{
height: max-content;
    align-self: center;
    border-radius: 2px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
}

/* Selects a Member */

.member:hover{
    box-shadow: 0px 0px 4px 1px rgba(0, 72, 234, 0.5);
    cursor: pointer;
}

/* Member Box */

.square-gitnub{
    padding:5%;
}

.square{
    width:30px;
    height:30px;
}

.circle{
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    border-radius: 50%/50%; 
    width:10px;
    height:10px;
    background-color:#FFFFFF;
}

.text{
    padding:2% 0 5% 5%;
}

.member h4{
    font-weight: 600;
}

.member h5{
    font-weight:300;
    color: rgba(12, 17, 35, 0,75);
}

/* "Department" Colors */

.pm .square{
    background-color: #FF03E6;
}

.arch .square{
    background-color: #FFC700;
}

.qa .square{
    background-color: #FF7C02;
}

.tes .square{
    background-color: #49C77B;
}

.req .square{
    background-color: #FF1203;
}

.des .square{
    background-color: #AD00FF;
}

.dev .square{
    background-color: #00A4EA;
}

.undef .square{
    background-color: #0C1123;
}


/*------------------- RESPONSIVIDADE --------------------*/

@media (max-width: 845px) {
    .top-info{
        display: block;  
    }

    .view, .buttons{
        width:100%;
    }

    .buttons{
        margin:5% 0;
        justify-content: left;
    }

    .button{
        margin-left:0%;
        margin-right:2%;
    }

    h5{
        margin:3% 0;
    }
}

/* -- Tabela Membros -- */

@media (min-width: 1400px) {
    .members-list{
        grid-template-columns: 1fr 1fr 1fr 1fr ;
    }
}


@media (max-width: 1160px) {
    .members-list{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 830px) {
    .members-list{
        grid-template-columns: 1fr 1fr;
    }
}

 @media (max-width: 590px) {
        .members-list{
            grid-template-columns: 1fr ;
     }
 }
