*{
    margin: 0;
    font-family: 'Poppins';
    letter-spacing: 0.01em;
    text-decoration: none;
}

a{
    color: #0C1123;
}

main{
    width: 100%;
    display: flex;
}


/*-------------------- STYLE DO TEXTO ---------------------*/
h1{
    font-weight: 600;
    font-size: 1.25em;
    margin-bottom: 8%;
}

h2{
    font-weight: 300;
    font-size: 1em;
}

h3{
    font-weight: 300;
    font-size: 0.75em;
    color: rgba(12, 17, 35, 0.5);
    line-height: 10px;
}


/*----------------------------- MENU -------------------------------*/
#menu{
    position: fixed;
}

.select-page{ /*listas do menu*/
    width:20vw;
    padding:1%;
    height:100vh;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
    background-color: #FFFFFF;
    overflow: scroll;
}

.select-page img{
    margin:10% 5%;
}

.select-page ul{
    padding: 0 0 5% 10%;
}

.select-page li{
    cursor: pointer;
    padding:1% 2%;
    list-style: none;
    font-size: 14px;
}

.select-page a{
    text-decoration: none;
}

.select-page a:hover{
    color:#0048EA;
}


/*----------------------------- REPOSITORIO -------------------------------*/
#member-files{
    width: 80%;
    background: #FFFFFF;
    display: block;
    margin-left: 20%;
}


/*------------------- BARRA DE CIMA --------------------*/
#nav_bar{
    width: 92%;
    margin: 10% auto 3% 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.left h2{
    display: inline;
}


.right{
    width:30%;
    display:flex;
    justify-content: right;
}

.button{
    margin-left:2%;
    padding:2%;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
    font-size: 16px;
}

.history:hover{
    color: #FFFFFF;
    background: #0048EA;
}


.member-card{ 
    width:92%;
    height:fit-content;
    border-radius: 2px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
    margin: 0 auto;
    padding: 3% 0;
}


/*------------------- SELECT BRANCH --------------------*/
/* Título do Cartão + Quadrado GitNub */
.title{
    width: 96%;
    margin: 0 auto 3% auto;
    display: flex;
    justify-content: left;
}


.title .square{
    width:40px;
    height:40px;
    background-color:black;
}

.title .circle{
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    border-radius: 50%/50%; 
    width:10px;
    height:10px;
    background-color:#FFFFFF;
}

/* Nome + Departamento */

.title h4{
    width:100%;
    padding: 1%;
    position: relative;
    
}

.title span{
    font-weight: 400;
    color: #0048EA;
    margin-left:1%;
}


/*------------------- DEPARTEMENT COLORS --------------------*/

/* ICON DO QUADRADO */
#outsider .square{
    background-color: #000000;
}

#pm .square{
    background-color: #FF03E6;
}

#arch .square{
    background-color: #FFC700;
}

#qa .square{
    background-color: #FF7C02;
}

#tes .square{
    background-color: #49C77B;
}

#req .square{
    background-color: #FF1203;
}

#des .square{
    background-color: #AD00FF;
}

#dev .square{
    background-color: #00A4EA;
}

#outsider svg path:first-child{
    fill: #000000;
}

#pm svg path:first-child{
    fill: #FF03E6;
}

#arch svg path:first-child{
    fill: #FFC700;
}

#qa svg path:first-child{
    fill: #FF7C02;
}

#tes svg path:first-child{
    fill: #49C77B;
}

#req svg path:first-child{
    fill: #FF1203;
}

#des svg path:first-child{
    fill: #AD00FF;
}

#dev svg path:first-child{
    fill: #00A4EA;
}

/*------------------- SELECT BRANCH --------------------*/
#branches{
    width: 96%;
    display:flex;
    margin: 0 auto 3% auto;
    justify-content: left;
}

.select-branch{
    font-size: 14px;
    padding: 0.5vw;
}

.location{
    border-radius: 3px;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.25);
}


/*------------------- GRID DOS "REPOSITORIOS" DE CADA MEMBRO --------------------*/
.file-grid{
    width: 96%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 auto;
    gap: 1em;
    height: auto;
}

.file{
    align-self: center;
    background: #FFFFFF;
    box-shadow: 0px 0px 2px 1px rgba(12, 17, 35, 0.25);
    border-radius: 3px;
    padding: 8%;
}   

.file:hover{
    box-shadow: 0px 0px 2px 2px rgba(0, 72, 234, 0.40);
}
    
.square{
    margin-bottom: 3%;
}

.info:first-child{
    margin-bottom: 4%;
}
    


/*------------------- BOTÃO BACK --------------------*/
#back_button{
    width: 50px;
    margin: 3% 4% 4% 4%;
    background: #FFFFFF;
    box-shadow: 0px 0px 2px 1px rgba(12, 17, 35, 0.30);
    border-radius: 3px;
    vertical-align: middle;
    text-align: center;
    padding: 0.5vw;
}

#back_button:hover{
    background: #0048EA;
    box-shadow: none;
    color: #FFFFFF;
}

    

/*------------------- RESPONSIVIDADE --------------------*/
@media (min-width: 1400px) {
    .file-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    }
}


@media (max-width: 1160px) {
    .file-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 830px) {
    .file-grid{
        grid-template-columns: 1fr 1fr;
    }
}



