*{
    margin: 0;
    font-family: 'Poppins';
    color: #0C1123;
}

/* --------------- Barra Lateral ---------------*/

nav{
    position: fixed;
}

.nav-bar{
    width:20vw;
    padding:1%;
    height:100vh;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
    background-color: #FFFFFF;
    overflow-y: scroll;
}

.nav-bar img{
    width:18vw;
    margin:10% 5%;
}
.nav-bar ul{
    padding: 0 0 5% 10%;
}

.nav-bar li{
    cursor: pointer;
    padding:1% 2%;
    list-style: none;
    font-size: 14px;
}

.nav-bar a{
    text-decoration: none;
}

.nav-bar a:hover{
    color:#0048EA;
}

.main-selection{
    font-weight: 700;
    font-size: 18px;
}

.main-selection:hover{
    color:#0C1123;
    cursor:default;
}

.hidden-selection{
    display:block; 
    /* display:none; --> serve para esconder o que está dentro de cada seleção */
}

/* --------------- Project Information - Members ---------------*/

main{
    margin-left: 24vw;
    margin-bottom:5%;
}

.top-info{
    width:96%;
    display: flex;
    justify-content:space-between ;
    position: relative;
    padding:4% 0 2% 0;
}

/* Page view */

.view{
    display:flex;
    width:70%;
    align-items: center;
    flex-wrap: wrap;
}

.view a{
    margin-right:1%;
    text-decoration: none;
    color: rgba(12, 17, 35, 0.75);
    font-weight: 300;
    font-size:16px;
}

.view a:last-child{
    color: rgb(12, 17, 35);
    font-weight: 500;
}

/* Timeline */

.buttons{
    width:30%;
    display:flex;
    justify-content: right;
}

.button{
    margin-left:2%;
    padding:2%;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
    font-size: 14px;
}

.button:hover{
    box-shadow: 0px 0px 4px 1px rgba(0, 72, 234, 0.5);
    cursor: pointer;
}

.button a{
    text-decoration: none;
}

/* Contribution */

.files{
    display: flex;
    width:96%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

h5 {
    margin:1% 0 1% 0;
    font-weight: 700;
    font-size: 18px;
}

h5 span{
    color: #0048EA;
}

.file{
    display: flex;
    margin-bottom:2%;
    padding:1%;
    width:100%;
    align-items: center;
    border-radius: 2px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
}

/* Selects a Member */

.file:hover{
    box-shadow: 0px 0px 4px 1px rgba(0, 72, 234, 0.5);
    cursor: pointer;
}

.text{
    padding:0 2%;
    width:80%;
}

/* Member Photo*/

.circle{
    border-radius: 50%/50%; 
    width:50px;
    height:50px;
    overflow:hidden;
}

.circle img{
    position: relative;
    width: 100%;
    height:100%;
    object-fit: cover;
}

.text h4{
    font-weight: 500;
}

.text p{
    font-size: 12px;
    font-weight: 400;
}

p span{
    font-weight: 300;
    padding-left: 3%;
}

/* "Department" Colors */

.pm{
    border: #FF03E6 2px solid;
}

.arch{
    border: #FFC700 2px solid;
}

.qa{
    border: #FF7C02 2px solid;
}

.tes{
    border: #49C77B 2px solid;
}

.req{
    border: #FF1203 2px solid;
}

.des{
    border: #AD00FF 2px solid;
}

.dev{
    border: #00A4EA 2px solid;
}


/* -------------------- RESPONSIVIDADE --------------------*/

@media (max-width: 740px) {
    .top-info{
        display: block;  
    }

    .view, .buttons{
        width:100%;
    }

    .buttons{
        margin:5% 0;
        justify-content: left;
    }

    .button{
        margin-left:0%;
        margin-right:2%;
    }

    h5{
        margin:3% 0;
    }
}