{% extends 'app/base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'app/css/branches.css' %}">
{% endblock css %}

{% block title %}Branches{% endblock title %}

{% comment %} {% block navbar %}
<div id="menu">
    <div class="select-page">
        <img src="{% static 'app/assets/logo_fundosClaros.svg' %}" alt="logo">
        <ul class="project-info">
            <li class="main-selection">Project Information</li>
            <li class="hidden-selection">Activity</li>
            <li class="hidden-selection">Labels</li>
            <li class="hidden-selection"><a href="{% url 'app:members' %}">Members</a></li>
        </ul>

        <ul class="repository">
            <li class="main-selection">Repository</li>
            <li class="hidden-selection"><a href="{% url 'app:files' '' %}">Files</a></li>
            <li class="hidden-selection"><a href="{% url 'app:commits' %}">Commits</a></li>
            <li class="hidden-selection"><a>Branches</a></li>
            <li class="hidden-selection">Tags</li>
            <li class="hidden-selection">Graph</li>
            <li class="hidden-selection">Compare</li>
            <li class="hidden-selection"><a href="{% url 'app:activeMembers' %}">Active Members</a></li>
        </ul>

        <ul class="issues">
            <li class="main-selection">Issues</li>
            <li class="hidden-selection"><a href="{% url 'app:issues' %}">Lists</a></li>
            <li class="hidden-selection">Boards</li>
            <li class="hidden-selection">Service Desk</li>
            <li class="hidden-selection">Milestones</li>
        </ul>

        <ul class="merge-requests">
            <li class="main-selection">Merge Requests</li>
        </ul>

        <ul class="ci-cd">
            <li class="main-selection">CI/CD</li>
        </ul>

        <ul class="security">
            <li class="main-selection">Security</li>
        </ul>

    </div>
</div>
{% endblock navbar %} {% endcomment %}

{% block app %}
<div id="branches">
    <div id="nav_bar">
        <div class="left">
            <h2>GitNub > </h2>
            <h2 style="font-weight:500;"><a href="branches.html">Branches</a></h2>
        </div>

        <div class="right">
            <div class="search button"> <!-- SEARCH BAR -->
                <img src="{% static 'app/assets/search.svg' %}" alt="search">
                <input type="text" placeholder="Search">
            </div>

            <div class="name button"> <!-- ORDENAR POR NOME OU POR ULTIMO BRANCH ATUALIZADO-->
                <a href="#">Name</a>
            </div>
        </div>
    </div>

    <!-------------------- GRID DOS BRANCHES EXISTENTES ------------------>
    <div id="active-branches">
        <h1>Active Branches</h1>
        <div id="select-branch">
            {% for branch in branches  %}
            <div class="branch">
                <a>
                    <div class="icon">
                        <svg width="31" height="37" viewBox="0 0 31 37" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12.9167 6.45701C12.917 7.94586 12.4029 9.38908 11.4614 10.5424C10.5199 11.6958 9.20877 12.4884 7.75001 12.7862V18.082H19.375C20.4027 18.082 21.3883 17.6737 22.115 16.947C22.8417 16.2203 23.25 15.2347 23.25 14.207V12.7862C21.6819 12.4661 20.2884 11.5751 19.3399 10.286C18.3913 8.99696 17.9552 7.40158 18.116 5.80921C18.2769 4.21684 19.0233 2.74093 20.2105 1.6676C21.3977 0.594273 22.9412 3.58774e-06 24.5417 3.58774e-06C26.1421 3.58774e-06 27.6856 0.594273 28.8728 1.6676C30.06 2.74093 30.8064 4.21684 30.9673 5.80921C31.1281 7.40158 30.692 8.99696 29.7435 10.286C28.7949 11.5751 27.4015 12.4661 25.8333 12.7862V14.207C25.8333 15.0551 25.6663 15.8949 25.3417 16.6785C25.0172 17.4621 24.5414 18.174 23.9417 18.7737C23.342 19.3734 22.6301 19.8492 21.8465 20.1737C21.0629 20.4983 20.2231 20.6653 19.375 20.6653H7.75001V23.3778C9.31814 23.6979 10.7116 24.5889 11.6601 25.878C12.6087 27.167 13.0448 28.7624 12.884 30.3548C12.7231 31.9472 11.9767 33.4231 10.7895 34.4964C9.60228 35.5697 8.05882 36.164 6.45834 36.164C4.85787 36.164 3.31441 35.5697 2.12719 34.4964C0.939973 33.4231 0.19358 31.9472 0.0327185 30.3548C-0.128143 28.7624 0.307985 27.167 1.25655 25.878C2.20512 24.5889 3.59854 23.6979 5.16668 23.3778V12.7862C3.96941 12.5418 2.86604 11.9627 1.98473 11.1163C1.10341 10.2699 0.480308 9.19078 0.187792 8.00435C-0.104725 6.81793 -0.0546529 5.57286 0.332193 4.41376C0.719039 3.25465 1.42678 2.22908 2.37323 1.45615C3.31967 0.683221 4.46597 0.194656 5.679 0.0471992C6.89202 -0.100258 8.12199 0.0994442 9.22605 0.623111C10.3301 1.14678 11.2629 1.97292 11.9162 3.00558C12.5695 4.03825 12.9164 5.23506 12.9167 6.45701Z"
                                fill="black" />
                        </svg>
                    </div>
                    <div class="text">
                        <h1>{{ branch.title }}</h1> <!-- Nome do branch -->
                        <div id="info">
                            <div class="info 1">
                                <h3>Last Update</h3>
                                <h2>{{ branch.ldate }}</h2>
                            </div>
                            <div class="info 2">
                                <h3>Updated by</h3>
                                <h2>{{ branch.lupdater }}</h2>
                            </div>

                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        <!-------------------- BOTÃO BACK ------------------>
        <div id="back_button">
            <p>Back</p>
        </div>
    </div>
</div>
{% endblock app %}
