{% extends 'app/base.html' %}

{% load static %}

{% block css %}
{% if markdown %}
<link rel="stylesheet" type="text/css" href="{% static 'app/css/github-markdown.css' %}">
{% endif %}
<link rel="stylesheet" type="text/css" href="{% static 'app/css/file.css' %}">
{% endblock css %}

{% block title %}{{filename}}{% endblock title %}

{% block app %}
<div id="file">
    <!-------------------- BARRA DE CIMA ------------------>
    <div id="nav_bar">
        <div class="left">
            <h2>GitNub > </h2>
            <h2><a href="{% url 'app:files' '' %}">Repository ></a></h2>
            {% for dir, redirect in paths %}
            <h2><a href="{% url 'app:files' redirect %}">{{dir}} ></a></h2>
            {% endfor %}
            <h2 style="font-weight:500;"><a>{{ filename }}</a></h2>
        </div>
        <div class="right">
            <div class="history button">
                <a href="{% url 'app:history' slug %}">History</a>
            </div>
        </div>
    </div>

    <div id="upload">
        {% comment %}
        <div class="profile">
            <!-- CAIXA 1 -->
            <div class="foto des"> <!-- neste caso o ret está na label de design -->
                <img src="" alt="profile picture">
            </div>
            <div class="creator">
                <div class="file-name">{{ filename }}</div>
                <a href="proj-info-members-select.html">
                    <div class="author">Author Name</div>
                </a>
            </div>
        </div>
        {% endcomment %}
        <div class="file-container">
            <!-- CAIXA  -->
            <div class="name">
                <div class="square" id="des">
                    <svg width="36" height="36" viewBox="0 0 36 36" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M36 0H0V35.8945H36V0Z" />
                        <path
                            d="M18.0017 22.5626C20.5592 22.5626 22.6325 20.4954 22.6325 17.9454C22.6325 15.3953 20.5592 13.3281 18.0017 13.3281C15.4441 13.3281 13.3708 15.3953 13.3708 17.9454C13.3708 20.4954 15.4441 22.5626 18.0017 22.5626Z"
                            fill="white" />
                    </svg>
                </div>
                <div class="tile">{{ filename }}</div>

            </div>
            {% if markdown %}
            <div class="content markdown-body">
            {% else %}
            <div class="content">
            {% endif %}
                {{ data | safe }}
            </div>
        </div>
    </div>

    {% comment %}
    <div id="active-issues">
        <div class="issues-top-bar">
            <div class="left button">Associated Active Issues</div>
            <div class="right button">Details</div>
        </div>

        <div class="issue-grid">
            <div class="issue">
                <a href="">
                    <div class="foto des">
                        <img src="img/porfile.svg" alt="profile picture">
                    </div>
                    <div class="text">
                        <h1>Issue #00</h1>
                        <div id="info">
                            <div class="info one">
                                <h3>Created</h3>
                                <h2>0 hours ago</h2>
                            </div>
                            <div class="info two">
                                <h3>by</h3>
                                <h2>Author Name</h2>
                            </div>

                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    {% endcomment %}

    <!-------------------- BOTÃO BACK ------------------>
    <div id="back_button">
        <p>Back</p>
    </div>
</div>
{% endblock app %}
