{% extends 'app/base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'app/css/filesList.css' %}">
{% endblock css %}

{% block title %}Most Changed{% endblock title %}

{% comment %} {% block navbar %}
<div id="menu">
<div class="select-page">
    <img src="{% static 'app/assets/logo_fundosClaros.svg' %}" alt="logo">
    <ul class="project-info">
        <li class="main-selection">Project Information</li>
        <li class="hidden-selection">Activity</li>
        <li class="hidden-selection">Labels</li>
        <li class="hidden-selection"><a href="{% url 'app:members' %}">Members</a></li>
    </ul>

    <ul class="repository">
        <li class="main-selection">Repository</li>
        <li class="hidden-selection"><a href="{% url 'app:files' '' %}">Files</a></li>
        <li class="hidden-selection"><a href="{% url 'app:commits' %}">Commits</a></li>
        <li class="hidden-selection"><a href="{% url 'app:branches' %}">Branches</a></li>
        <li class="hidden-selection">Tags</li>
        <li class="hidden-selection">Graph</li>
        <li class="hidden-selection">Compare</li>
        <li class="hidden-selection"><a href="{% url 'app:activeMembers' %}">Active Members</a></li>
    </ul>

    <ul class="issues">
        <li class="main-selection">Issues</li>
        <li class="hidden-selection"><a href="{% url 'app:issues' %}">Lists</a></li>
        <li class="hidden-selection">Boards</li>
        <li class="hidden-selection">Service Desk</li>
        <li class="hidden-selection">Milestones</li>
    </ul>

    <ul class="merge-requests">
        <li class="main-selection">Merge Requests</li>
    </ul>

    <ul class="ci-cd">
        <li class="main-selection">CI/CD</li>
    </ul>

    <ul class="security">
        <li class="main-selection">Security</li>
    </ul>
</div>
</div>
{% endblock navbar %} {% endcomment %}
{% block app %}
<div id="files">
<!-------------------- BARRA DE CIMA ------------------>
<div id="nav_bar">
    <div class="left">
        <h2>GitNub > </h2>
        <h2><a href="repository.html">Repository > </a></h2>
        <h2 style="font-weight:500;"><a href="{% url 'app:files' '' %}">Most Changed</a></h2>
    </div>

    <div class="right">
        <div class="name button">
            <a href="">Name</a>
        </div>
    </div>
</div>

<!-------------------- SELECT BRANCH ------------------>
<!-- <div id="branches">
    <div class="select-branch">
        <p>Branch</p>
    </div>
    <div class="select-branch location">
        <p>main ></p>
    </div>
</div> -->

<!-------------------- GRID DOS FILES DE X REPOSITORIO ------------------>
<div id="select-file">
    {% for file in files %}
    <div class="file">
        <a href="{% url 'app:files' file %}">
            <div class="square-gitnub" id="des">
                <div class="square">
                    <div class="circle"></div>
                </div>
            </div>
            <div class="text">
                <h1>{{ file }}</h1>
                {% comment %} <div class="info">
                    <div class="update">Last update</div>
                </div> {% endcomment %}
            </div>
        </a>
    </div>
    {% endfor %}
</div>

<!-- <div id="readMe">
    <div class="read">
        <h2>README.md</h2>
        <h1>REPOSITORY NAME</h1>
        <div class="line"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore
            et dolore magna aliqua.</p>
        </div>
    </div> -->

    <div id="back_button">
        <p>Back</p>
    </div>

</div>
{% endblock app %}
