{% extends 'app/base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'app/css/issues.css' %}">
{% endblock css %}

{% block title %}History{% endblock title %}

{% block app %}
<div class="top-info">
    <div class="view">
        <a href={% url 'app:index' %}>GitNub ></a>
        <a>History</a>
    </div>
</div>

<div class="issues-list">
    {% for mod in data %}
    <div class="issue">
        <div class="text">
            <h4>{{ mod.type | capfirst }}</h4>
            <p>{{ mod.add }} line{{ mod.add | pluralize }} added, {{ mod.del }} line{{ mod.add | pluralize }} deleted</p>
            <p><span>By {{ mod.author }} on </span><span>{{ mod.date | date }}</span></p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock app %}