{% extends 'app/base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'app/css/issues.css' %}">
{% endblock css %}    

{% block title %}GitNub{% endblock title %}

{% block navbar %}
<div class="nav-bar">
    <img src="{% static 'app/assets/logo_fundosClaros.svg' %}" alt="logo">
    <div class="select-page">
        <ul class="project-info">
            <li class="main-selection">Project Information</li>
            <li class="hidden-selection">Activity</li>
            <li class="hidden-selection">Labels</li>
            <li class="hidden-selection"><a href="{% url 'app:members' %}">Members</a></li>
        </ul>

        <ul class="repository">
            <li class="main-selection">Repository</li>
            <li class="hidden-selection"><a href="{% url 'app:files' '' %}">Files</a></li>
            <li class="hidden-selection"><a href="{% url 'app:commits' %}">Commits</a></li>
            <li class="hidden-selection"><a href="{% url 'app:branches' %}">Branches</a></li>
            <li class="hidden-selection">Tags</li>
            <li class="hidden-selection">Graph</li>
            <li class="hidden-selection">Compare</li>
            <li class="hidden-selection"><a href="{% url 'app:activeMembers' %}">Active Members</a></li>
        </ul>

        <ul class="issues">
            <li class="main-selection">Issues</li>
            <li class="hidden-selection"><a>Lists</a></li>
            <li class="hidden-selection">Boards</li>
            <li class="hidden-selection">Service Desk</li>
            <li class="hidden-selection">Milestones</li>
        </ul>

        <ul class="merge-requests">
            <li class="main-selection">Merge Requests</li>
        </ul>

        <ul class="ci-cd">
            <li class="main-selection">CI/CD</li>
        </ul>

        <ul class="security">
            <li class="main-selection">Security</li>
        </ul>

    </div>
</div>
{% endblock navbar %}
      
{% block app %}
<div class="top-info">
    <div class="view">
        <a>GitNub ></a>
        <a href="">Repository ></a>
        <a href="">Issues</a>
    </div>

    <div class="buttons">
        <div class="order-by button">
            <a href="">Order By</a>
        </div>
    </div>
</div>

{% block state %}{% endblock state %}

<div class="issues-list">

    {% for issue in issues %}
    <div class="issue">
        <div class="circle arch">
            <img src=" {% comment "TODO" %}{% endcomment %}">
        </div>
        <div class="text">
            <h4>{{ issue.title }}</h4>
            <p><span>created on </span><span>{{ issue.cd }} by </span>{{ issue.authorn }}</p>
            <p>updated xx hours ago</p>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock app %}