{% extends 'app/base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'app/css/memberCommits.css' %}">
{% endblock css %}

{% block app %}
<div class="top-info">
    <div class="view">
        <a href="">Gitnub ></a>
        <a href="">Repository ></a>
        <a href="{% url 'app:activeMembers' %}">Active Members ></a>
        <a href="">{{ member.name }}</a>
    </div>

    <div class="buttons">
        <div class="back button">
            <a href="{% url 'app:activeMembers' %}">Back</a>
        </div>

        <div class="history button">
            <a href="">Commits</a>
        </div>
    </div>

</div>

{% for commit in commits %}
<div class="day">
    <div class="file">
        <div class="circle arch">
            <img src="img/Bernardo.jpeg">
        </div>
        <div class="text">
            <h4>{{ commit.msg }}</h4>
            <p>{{commit.author_date | date }}</p>
        </div>
    </div>
</div>
{% endfor %}

{% comment %} <h5 class="date">November 19th 2021</h5>

<div class="day">
    <div class="file">
        <div class="circle arch">
            <img src="img/Bernardo.jpeg">
        </div>
        <div class="text">
            <h4>This is a Commit</h4>
            <p>Author Name <span>xx hours ago</span></p>
        </div>
    </div>
</div>

<div class="day">
    <div class="file">
        <div class="circle req">
            <img src="img/Bernardo.jpeg">
        </div>
        <div class="text">
            <h4>This is a Commit</h4>
            <p>Author Name <span>xx hours ago</span></p>
        </div>
    </div>
</div>

<h5 class="date">November 18th 2021</h5>
<div class="day">
    <div class="file">
        <div class="circle arch">
            <img src="img/Bernardo.jpeg">
        </div>
        <div class="text">
            <h4>This is a Commit</h4>
            <p>Author Name <span>xx hours ago</span></p>
        </div>
    </div>
</div>

<div class="day">
    <div class="file">
        <div class="circle dev">
            <img src="img/Bernardo.jpeg">
        </div>
        <div class="text">
            <h4>This is a Commit</h4>
            <p>Author Name <span>xx hours ago</span></p>
        </div>
    </div>
</div>

<div class="day">
    <div class="file">
        <div class="circle req">
            <img src="img/Bernardo.jpeg">
        </div>
        <div class="text">
            <h4>This is a Commit</h4>
            <p>Author Name <span>xx hours ago</span></p>
        </div>
    </div>
</div>

<div class="day">
    <div class="file">
        <div class="circle des">
            <img src="img/Bernardo.jpeg">
        </div>
        <div class="text">
            <h4>This is a Commit</h4>
            <p>Author Name <span>xx hours ago</span></p>
        </div>
    </div>
</div> {% endcomment %}
{% endblock app %}