{% extends 'app/base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'app/css/members.css' %}">
{% endblock css %}

{% block navbar %}
<div class="nav-bar">
    <img src="{% static 'app/assets/logo_fundosClaros.svg' %}" alt="logo">
    <div class="select-page">
        <ul class="project-info">
            <li class="main-selection">Project Information</li>
            <li class="hidden-selection">Activity</li>
            <li class="hidden-selection">Labels</li>
            <li class="hidden-selection"><a>Members</a></li>
        </ul>

        <ul class="repository">
            <li class="main-selection">Repository</li>
            <li class="hidden-selection"><a href="{% url 'app:files' '' %}">Files</a></li>
            <li class="hidden-selection"><a href="{% url 'app:commits' %}">Commits</a></li>
            <li class="hidden-selection"><a href="{% url 'app:branches' %}">Branches</a></li>
            <li class="hidden-selection">Tags</li>
            <li class="hidden-selection">Graph</li>
            <li class="hidden-selection">Compare</li>
            <li class="hidden-selection"><a href="{% url 'app:activeMembers' %}">Active Members</a></li>
        </ul>

        <ul class="issues">
            <li class="main-selection">Issues</li>
            <li class="hidden-selection"><a href="{% url 'app:issues' %}">Lists</a></li>
            <li class="hidden-selection">Boards</li>
            <li class="hidden-selection">Service Desk</li>
            <li class="hidden-selection">Milestones</li>
        </ul>

        <ul class="merge-requests">
            <li class="main-selection">Merge Requests</li>
        </ul>

        <ul class="ci-cd">
            <li class="main-selection">CI/CD</li>
        </ul>

        <ul class="security">
            <li class="main-selection">Security</li>
        </ul>

    </div>
</div>
{% endblock navbar %}

{% block app %}
<div class="top-info">
    <div class="view">
        <a href="">GitNub ></a>
        <a href="">Project Information ></a>
        <a href="">Members</a>
    </div>

    <div class="buttons">
        <div class="order-by button">
            <a>Order by</a>
        </div>
    </div>
</div>
<div class="members-list">

    {% for member in members %}
        <a>
            <div class="member {{ member.css }}">
                <div class="square-gitnub">
                    <div class="square">
                        <div class="circle"></div>
                    </div>
                </div>
                <div class="text">
                    <h4>{{ member.name }}</h2>
                    <h5>{{ member.role }}</h5>
                </div>
            </div>
        </a>
    {% endfor %}
</div>
{% endblock app %}