{% extends 'app/issues.html' %}

{% block state %}
<div class="issue-state">
    <div class="all select">
        <a href="{% url 'app:issues' %}">All</a>
    </div>

    <div class="open select">
        <a>Open</a>
    </div>

    <div class="closed select">
        <a href="{% url 'app:closedIssues' %}">Closed</a>
    </div>
</div>
{% endblock state %}