*{
    margin: 0;
    font-family: 'Poppins';
    letter-spacing: 0.01em;
    text-decoration: none;
}

main{
    width: 100%;
    display: flex;
}

a{
    color: #0C1123;
}


/*-------------------- STYLE DO TEXTO ---------------------*/
h1{
    font-weight: 600;
    font-size: 1.25em;
    margin-bottom: 8%;
}

h2{
    font-weight: 300;
    font-size: 1em;
}

h3{
    font-weight: 300;
    font-size: 0.75em;
    color: rgba(12, 17, 35, 0.5);
}


/*----------------------------- FILES -------------------------------*/
#files{
    width: 80%;
    background: #FFFFFF;
    display: block;
    margin-left: 20%;
}


/*----------------------------- MENU -------------------------------*/
#menu{
    position: fixed;
}

.select-page{ /*listas do menu*/
    width:20vw;
    padding:1%;
    height:100vh;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
    background-color: #FFFFFF;
    overflow: scroll;
}

.select-page img{
    margin:10% 5%;
}

.select-page ul{
    padding: 0 0 5% 10%;
}

.select-page li{
    cursor: pointer;
    padding:1% 2%;
    list-style: none;
    font-size: 14px;
}

.select-page a{
    text-decoration: none;
}

.select-page a:hover{
    color:#0048EA;
}


/*----------------------------- REPOSITORIO -------------------------------*/
#repository{
    width: 80%;
    background: #FFFFFF;
    display: block;
    margin-left: 20%;
}


/*------------------- BARRA DE CIMA --------------------*/
#nav_bar{
    width: 92%;
    margin: 4% auto 3% 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.left h2{
    display: inline;
}

.right{
    width:30%;
    display:flex;
    justify-content: right;
}

.button{
    margin-left:2%;
    padding:2%;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
    font-size: 16px;
}


/*------------------- SELECT BRANCH --------------------*/
#branches{
    width: 92%;
    margin: 0 auto 3% auto;
    display:flex;
    justify-content: left;
}

.select-branch{
    padding:0.5vw;
    font-size: 14px;
}

.location{
    border-radius: 4px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
}


/*------------------- GRID DOS FICHEIROS --------------------*/
#select-file{
    width: 92%;
    display: block;
    margin: 0 auto;
    height: auto;
}

.file{
    background: #FFFFFF;
    box-shadow: 0px 0px 2px 1px rgba(12, 17, 35, 0.25);
    border-radius: 3px;
    margin-bottom: 1%;
}

.file a{
    display:flex;
    align-items: center;
    justify-content: left;
    padding: 1%;
}


.square{
    width:36px;
    height:36px;
    background-color:black;
}

.circle{
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    border-radius: 50%/50%;
    width:10px;
    height:10px;
    background-color:#FFFFFF;
}


.file:hover{
    box-shadow: 0px 0px 2px 2px rgba(0, 72, 234, 0.40);
}

.text{
    padding-left: 1%;
}

.info{
    display: flex;
}

.text h1{
    margin-bottom: 0;
    font-size: 1.10em;
}

.autor{
    font-size: 0.75em;
    color: rgba(12, 17, 35);
    font-weight: 500;
}

.update{
    font-size: 0.75em;
    color: rgba(12, 17, 35, 0.5);
}


/*------------------- DEPARTEMENT COLORS --------------------*/

/* ICON DO QUADRADO */
#outsider .square{
    background-color: #000000;
}

#pm .square{
    background-color: #FF03E6;
}

#arch .square{
    background-color: #FFC700;
}

#qa .square{
    background-color: #FF7C02;
}

#tes .square{
    background-color: #49C77B;
}

#req .square{
    background-color: #FF1203;
}

#des .square{
    background-color: #AD00FF;
}

#dev .square{
    background-color: #00A4EA;
}


#readMe{ /* ------ FICHEIRO README ------ */
    width: 92%;
    margin: 2% auto 0 auto ;
    background: #FFFFFF;
    box-shadow: 0px 0px 2px 1px rgba(12, 17, 35, 0.25);
    border-radius: 3px;
}

.read{
    padding: 1%;
}

#readMe h1{
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 0;
}

#readMe h2{
    font-weight: normal;
    font-size: 14px;
    color: rgba(12, 17, 35, 0.75);
    margin-bottom: 1%;
}

#readMe p{
    font-weight: 300;
    font-size: 12px;
    margin-bottom: 0;
}

.line{
    border: 0.5px solid rgba(12, 17, 35, 0.75);
    margin-bottom: 1%;
}


/*------------------- BOTÃO BACK --------------------*/
#back_button{
    width: 50px;
    margin: 3% 4% 4% 4%;
    background: #FFFFFF;
    box-shadow: 0px 0px 2px 1px rgba(12, 17, 35, 0.30);
    border-radius: 3px;
    vertical-align: middle;
    text-align: center;
    padding: 0.5vw;
}

#back_button:hover{
    background: #0048EA;
    box-shadow: none;
    color: #FFFFFF;
}

p{
    font-weight: 400;
    font-size: 16px;
}


