*{
    margin: 0;
    font-family: 'Poppins';
    letter-spacing: 0.01em;
    text-decoration: none;
}

a{
    color: #0C1123;
}

main{
    width: 100%;
    display: flex;
}


/*-------------------- STYLE DO TEXTO ---------------------*/
h1{
    font-weight: 600;
    font-size: 1.25em;
    margin-bottom: 8%;
}

h2{
    font-weight: 300;
    font-size: 1em;
}

h3{
    font-weight: 300;
    font-size: 0.75em;
    color: rgba(12, 17, 35, 0.5);
    line-height: 10px;
}


/*----------------------------- MENU -------------------------------*/
#menu{
    position: fixed;
}

.select-page{ /*listas do menu*/
    width:20vw;
    padding:1%;
    height:100vh;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
    background-color: #FFFFFF;
    overflow: scroll;
}

.select-page img{
    margin:10% 5%;
}

.select-page ul{
    padding: 0 0 5% 10%;
}

.select-page li{
    cursor: pointer;
    padding:1% 2%;
    list-style: none;
    font-size: 14px;
}

.select-page a{
    text-decoration: none;
}

.select-page a:hover{
    color:#0048EA;
}


/*----------------------------- REPOSITORIO -------------------------------*/
#repository{
    width: 80%;
    background: #FFFFFF;
    display: block;
    margin-left: 20%;
}


/*------------------- BARRA DE CIMA --------------------*/
#nav_bar{
    width: 92%;
    margin: 4% auto 3% 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left h2{
    display: inline;
}


.right{
    width:30%;
    display:flex;
    justify-content: right;
}

.button{
    margin-left:2%;
    padding:2%;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
    font-size: 16px;
}

.history:hover{
    color: #FFFFFF;
    background: #0048EA;
}


/*------------------- SELECT BRANCH --------------------*/
#branches{
    width: 92%;
    margin: 0 auto 3% auto;
    display:flex;
    justify-content: left;
}

.select-branch{
    padding:0.5vw;
    font-size: 14px;
}

.location{
    border-radius: 4px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
}

/*------------------- GRID DOS REPOSITORIOS --------------------*/
#rep_files{
    width: 92%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 auto;
    gap: 1em;
    height: auto;
}

.rep{
    background: #FFFFFF;
    box-shadow: 0px 0px 2px 1px rgba(12, 17, 35, 0.25);
    border-radius: 3px;
    padding: 8%;
}

.rep:hover{
    box-shadow: 0px 0px 2px 2px rgba(0, 72, 234, 0.40);
}

.square{
    margin-bottom: 3%;
}

.info:first-child{
    margin-bottom: 4%;
}

/*------------------- DEPARTEMENT COLORS --------------------*/

/* ICON DO QUADRADO */
#fd svg path:first-child{
    fill: #00EAB2;
}
#pm svg path:first-child{
    fill: #FF03E6;
}

#arch svg path:first-child{
    fill: #FFC700;
}

#qa svg path:first-child{
    fill: #FF7C02;
}

#tes svg path:first-child{
    fill: #49C77B;
}

#req svg path:first-child{
    fill: #FF1203;
}

#des svg path:first-child{
    fill: #AD00FF;
}

#dev svg path:first-child{
    fill: #00A4EA;
}


/*------------------- BOTÃO BACK --------------------*/
#back_button{
    width: 50px;
    margin: 2% 4% 4% 4%;
    background: #FFFFFF;
    box-shadow: 0px 0px 2px 1px rgba(12, 17, 35, 0.30);
    border-radius: 3px;
    vertical-align: middle;
    text-align: center;
    padding: 0.5vw;
}

#back_button:hover{
    background: #0048EA;
    box-shadow: none;
    color: #FFFFFF;
}

p{
    font-weight: 400;
    font-size: 16px;
}





/*------------------- RESPONSIVIDADE --------------------*/
@media (min-width: 1400px) {
    #rep_files{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    }
}


@media (max-width: 1160px) {
    #rep_files{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 830px) {
    #rep_files{
        grid-template-columns: 1fr 1fr;
    }
}
