{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}GitNub{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'app/style.css' %}">
    <link rel="stylesheet" href="{% static 'app/bootstrap.min.css' %}">
</head>
<body>
    <div class="wrapper">
        <div class="navbar navbar-light bg-light navbar-fixed-top shadow">
            <img class="navbar-brand" src="{% static 'app/logo.png' %}" alt="GitNub Logo" width="250px" height="auto">
        </div>
        <div class="fill">
            <div class="sidebar">
                <nav class="nav bg-light">
                    <a href="{% url 'app:index' %}" class="nav-link">Home</a>                   
                    <a href="{% url 'app:example' %}" class="nav-link">Example</a>
                    <a href="{% url 'app:about' %}" class="nav-link">About</a>
                    <a href="{% url 'app:files' %}" class="nav-link">Files</a>
                </nav>
            </div>
            <div id="app">{% block app %}{% endblock %}</div>
        </div>
    </div>
</body>
</html>
