{% extends "app/base.html" %}

{% block title %}Commit List - GitNub{% endblock %}

{% block app %}
<h1>{{ text }}</h1>

<ul>
    {% for files in files_organized %}
        <li>{{ files }}</li>
    {% endfor %}

</ul>
{% endblock %}
