{% extends 'app/base.html' %}

{% block title %}Commits by {{ name }} - GitNub{% endblock title %}


{% block app %}
<form method="get">
    {{form}}
</form>
<h1>List of commits made by {{name}}</h1>
<ul>
    {% for commit in commits %}
        <li>{{ commit }}</li>
    {% endfor %}
</ul>
{% endblock app %}