{% extends 'app/base.html' %}

{% block title %}Members - GitNub{% endblock title %}

{% block app %}
<h1>Members</h1>

<ul>
    {% for member in members %}
        <li><a href="{% url 'app:memberCommits' member.username %}">{{ member.name }}</a></li>
    {% endfor %}
</ul>

{% endblock app %}