{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app/css/base.css' %}">
    {% block css %}{% endblock css %}
    <title>{% block title %}GitNub{% endblock title %}</title>
</head>

<body>
    <header>
        <nav>
            <div class="nav-bar">
                <img src="{% static 'app/assets/logo_fundosClaros.svg' %}" alt="logo">
                <div class="select-page">
                    <ul class="project-info">
                        <li class="main-selection">Project Information</li>
                        <li class="hidden-selection">Activity</li>
                        <li class="hidden-selection">Labels</li>
                        <li class="hidden-selection"><a href="{% url 'app:members' %}">Members</a></li>
                    </ul>

                    <ul class="repository">
                        <li class="main-selection">Repository</li>
                        <li class="hidden-selection"><a href="{% url 'app:files' '' %}">Files</a></li>
                        <li class="hidden-selection"><a href="{% url 'app:commits' %}">Commits</a></li>
                        <li class="hidden-selection">Branches</li>
                        <li class="hidden-selection">Tags</li>
                        <li class="hidden-selection">Graph</li>
                        <li class="hidden-selection">Compare</li>
                        <li class="hidden-selection">Active Members</li></a>
                    </ul>

                    <ul class="issues">
                        <li class="main-selection">Issues</li>
                        <li class="hidden-selection"><a href="{% url 'app:issues' %}">Lists</a></li>
                        <li class="hidden-selection">Boards</li>
                        <li class="hidden-selection">Service Desk</li>
                        <li class="hidden-selection">Milestones</li>
                    </ul>

                    <ul class="merge-requests">
                        <li class="main-selection">Merge Requests</li>
                    </ul>

                    <ul class="ci-cd">
                        <li class="main-selection">CI/CD</li>
                    </ul>

                    <ul class="security">
                        <li class="main-selection">Security</li>
                    </ul>

                </div>
            </div>
        </nav>

    </header>

    <main>{% block app %}{% endblock app %}</main>