{% extends 'app/base.html' %}

{% block title %}Commit List - GitNub{% endblock %}

{% block app %}
<h1>{{ text }}</h1>

<ul>
    {% for commit in data %}
        <li>{{ commit.msg }} by {{ commit.author }} on {{ commit.date | date }}</li>
    {% endfor %}
</ul>
{% endblock %}
