{% extends 'app/base.html' %}

{% load static %}

{% block css %}<link rel="stylesheet" href="{% static 'app/css/index.css' %}">{% endblock css %}

{% block title %}Index - GitNub{% endblock %}

{% block app %}
<img src="{% static 'app/assets/logo_fundosClaros.svg' %}" alt="">
<h1>Welcome to GitNub!</h1>
{% endblock %}