{% extends 'app/base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'app/css/members.css' %}">
{% endblock css %}

{% block app %}
<div class="top-info">
    <div class="view">
        <a href="">GitNub ></a>
        <a href="">Project Information ></a>
        <a href="">Members</a>
    </div>

    <div class="order-by button">
        <span>Order by</span>
    </div>
</div>
<div class="members-list">
    {% for member in members %}
        <div class="member {{ member.css }}">
            <div class="square-gitnub">
                <div class="square">
                    <div class="circle"></div>
                </div>
            </div>
            <div class="text">
                <h4>{{ member.name }}</h2>
                <h5>{{ member.role }}</h5>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock app %}