{% extends 'app/base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'app/css/repository.css' %}">
{% endblock css %}

{% block app %}
<div id="repository">
    <div id="nav_bar">
        <div id="left">
            <h2>GitNub ><a href="{% url 'app:files' '/' %}">Repository</a></h2>
        </div>
        <div class="right">
            <div id="rep">
                <p>Rep. Name</p>
            </div>
            <div id="rep" class="arrow"></div>
        </div>
    </div>

    <div id="rep_files">
        {% for file in data %}
            <div class="rep">
                <a href="{% url 'app:files' file.url %}">
                    <div class="square">
                        <img src="{% static 'app/assets/file.svg' %}" alt="">
                    </div>
                    <div class="text">
                        <h1>{{ file.name }}</h1>
                        {% comment %} <div id="info">
                            <div class="info 1">
                                <h3>Last commit by</h3>
                                <h2>Lorem Ipsum</h2>
                            </div>
                            <div class="info 2">
                                <h3>Last Update</h3>
                                <h2>Lorem Ipsum</h2>
                            </div>
                        </div> {% endcomment %}
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock app %} 

