{% extends "app/base.html" %}

{% block title %}Issues{% endblock %}

{% block app %}
<h1>{{ text }}</h1>

<ul>
    {% for issue in issues %}
        <li>{{ issue.title }}</li>
    {% endfor %}
</ul>
{% endblock %}
