{% extends 'app/base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'app/css/memberCommits.css' %}">
{% endblock css %}

{% block navbar %}
<div class="nav-bar">
    <img src="{% static 'app/assets/logo_fundosClaros.svg' %}" alt="logo">
    <div class="select-page">
        <ul class="project-info">
            <li class="main-selection">Project Information</li>
            <li class="hidden-selection">Activity</li>
            <li class="hidden-selection">Labels</li>
            <li class="hidden-selection"><a href="{% url 'app:members' %}">Members</a></li>
        </ul>

        <ul class="repository">
            <li class="main-selection">Repository</li>
            <li class="hidden-selection"><a href="{% url 'app:files' '' %}">Files</a></li>
            <li class="hidden-selection"><a href="{% url 'app:commits' %}">Commits</a></li>
            <li class="hidden-selection">Branches</li>
            <li class="hidden-selection">Tags</li>
            <li class="hidden-selection">Graph</li>
            <li class="hidden-selection">Compare</li>
            <li class="hidden-selection"><a href="{% url 'app:activeMembers' %}">Active Members</a></li></a>
        </ul>

        <ul class="issues">
            <li class="main-selection">Issues</li>
            <li class="hidden-selection"><a href="{% url 'app:issues' %}">Lists</a></li>
            <li class="hidden-selection">Boards</li>
            <li class="hidden-selection">Service Desk</li>
            <li class="hidden-selection">Milestones</li>
        </ul>

        <ul class="merge-requests">
            <li class="main-selection">Merge Requests</li>
        </ul>

        <ul class="ci-cd">
            <li class="main-selection">CI/CD</li>
        </ul>

        <ul class="security">
            <li class="main-selection">Security</li>
        </ul>

    </div>
</div>
{% endblock navbar %}



{% block app %}
<div class="top-info">
    <div class="view">
        <a href="">Gitnub ></a>
        <a href="">Repository ></a>
        <a href="{% url 'app:activeMembers' %}">Active Members ></a>
        <a href="">{{ member.name }}</a>
    </div>

    <div class="buttons">
        <div class="back button">
            <a href="{% url 'app:activeMembers' %}">Back</a>
        </div>

        <div class="history button">
            <a href="">Commits</a>
        </div>
    </div>

</div>

{% for commit in commits %}
<div class="day">
    <div class="file">
        <div class="circle arch">
            <img src="img/Bernardo.jpeg">
        </div>
        <div class="text">
            <h4>{{ commit.msg }}</h4>
            <p>{{commit.author_date | date }}</p>
        </div>
    </div>
</div>
{% endfor %}

{% comment %} <h5 class="date">November 19th 2021</h5>

<div class="day">
    <div class="file">
        <div class="circle arch">
            <img src="img/Bernardo.jpeg">
        </div>
        <div class="text">
            <h4>This is a Commit</h4>
            <p>Author Name <span>xx hours ago</span></p>
        </div>
    </div>
</div>

<div class="day">
    <div class="file">
        <div class="circle req">
            <img src="img/Bernardo.jpeg">
        </div>
        <div class="text">
            <h4>This is a Commit</h4>
            <p>Author Name <span>xx hours ago</span></p>
        </div>
    </div>
</div>

<h5 class="date">November 18th 2021</h5>
<div class="day">
    <div class="file">
        <div class="circle arch">
            <img src="img/Bernardo.jpeg">
        </div>
        <div class="text">
            <h4>This is a Commit</h4>
            <p>Author Name <span>xx hours ago</span></p>
        </div>
    </div>
</div>

<div class="day">
    <div class="file">
        <div class="circle dev">
            <img src="img/Bernardo.jpeg">
        </div>
        <div class="text">
            <h4>This is a Commit</h4>
            <p>Author Name <span>xx hours ago</span></p>
        </div>
    </div>
</div>

<div class="day">
    <div class="file">
        <div class="circle req">
            <img src="img/Bernardo.jpeg">
        </div>
        <div class="text">
            <h4>This is a Commit</h4>
            <p>Author Name <span>xx hours ago</span></p>
        </div>
    </div>
</div>

<div class="day">
    <div class="file">
        <div class="circle des">
            <img src="img/Bernardo.jpeg">
        </div>
        <div class="text">
            <h4>This is a Commit</h4>
            <p>Author Name <span>xx hours ago</span></p>
        </div>
    </div>
</div> {% endcomment %}
{% endblock app %}