{% extends 'app/base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'app/css/repository.css' %}">
{% endblock css %}

{% block navbar %}
<div id="menu">
    <div class="select-page">
        <img src="{% static 'app/assets/logo_fundosClaros.svg' %}" alt="logo">
        <ul class="project-info">
            <li class="main-selection">Project Information</li>
            <li class="hidden-selection">Activity</li>
            <li class="hidden-selection">Labels</li>
            <li class="hidden-selection"><a href="{% url 'app:members' %}">Members</a></li>
        </ul>

        <ul class="repository">
            <li class="main-selection">Repository</li>
            <li class="hidden-selection"><a href="{% url 'app:files' '' %}">Files</a></li>
            <li class="hidden-selection"><a href="{% url 'app:commits' %}">Commits</a></li>
            <li class="hidden-selection"><a href="{% url 'app:branches' %}">Branches</a></li>
            <li class="hidden-selection">Tags</li>
            <li class="hidden-selection">Graph</li>
            <li class="hidden-selection">Compare</li>
            <li class="hidden-selection"><a href="{% url 'app:activeMembers' %}">Active Members</a></li>
        </ul>

        <ul class="issues">
            <li class="main-selection">Issues</li>
            <li class="hidden-selection">Lists</li>
            <li class="hidden-selection">Boards</li>
            <li class="hidden-selection">Service Desk</li>
            <li class="hidden-selection">Milestones</li>
        </ul>

        <ul class="merge-requests">
            <li class="main-selection">Merge Requests</li>
        </ul>

        <ul class="ci-cd">
            <li class="main-selection">CI/CD</li>
        </ul>

        <ul class="security">
            <li class="main-selection">Security</li>
        </ul>

    </div>
</div>
{% endblock navbar %}

{% block app %}
<div id="repository">
    <div id="nav_bar">
        <div class="left">
            <h2>GitNub > </h2>
            <h2 style="font-weight:500;"><a>Repository</a></h2>
        </div>

        <div class="right">
            <div class="name button">
                <a>Name</a>
            </div>

            <div class="history button">
                <a>History</a>
            </div>
        </div>
    </div>

    <div id="branches">
        <div class="select-branch"><p>Branch</p></div>
        <div class="select-branch location"><p>main</p></div>
    </div>

    <div id="rep_files">
        {% for file in data %}
            <div class="rep">
                <a href="{% url 'app:files' file.url %}">
                    <div class="square">
                        <img src="{% static 'app/assets/file.svg' %}" alt="">
                    </div>
                    <div class="text">
                        <h1>{{ file.name }}</h1>
                        <div id="info">
                            {% comment %} 
                                <div class="info 1">
                                    <h3>Last commit by</h3>
                                    <h2>Lorem Ipsum</h2>
                                </div>
                                <div class="info 2">
                                    <h3>Last Update</h3>
                                    <h2>Lorem Ipsum</h2>
                                </div>
                            {% endcomment %}
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    
    <div id="back_button">
        <p>Back</p>
    </div>
</div>
{% endblock app %} 

